.ledbuttonRed {

    background-color: #ba1313;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;

}

.ledbuttonYellow {

    background-color: yellow;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;

}

.ledbuttonGreen {

    background-color: green;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;

}

.ledbuttonOff {

    background-color: lightgray;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
}

.ledbutton {

    background-color: burlywood;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;

}

