.ledbuttonRed {

    background-color: #ba1313;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 30px 30px;
    color: black;
    display: inline-block
     

}

.ledbuttonYellow {

    background-color: yellow;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 30px 30px;
    color: black;
    display: inline-block

}

.ledbuttonGreen {

    background-color: green;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 30px 30px;
    color: black;
    display: inline-block

}

.ledbuttonOff {

    background-color: lightgray;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 30px 30px;
    color: black;
    display: inline-block
}

.ledbutton {

    background-color: burlywood;
    border: none;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    text-decoration: none;
    padding: 30px 30px;
    color: black;
    display: inline-block;

}


div {
    display: flex;
    align-items: center;
    justify-content: center;

}

